@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');
* {
    margin: 0;
    border: 0;
}

body {
    background-color: whitesmoke;
}

.logo {
    display: block;
    margin-top:1vh;
    margin-left: auto;
    margin-right: auto;
    width:20vh;
    height:auto;
}

.plan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    height:65vh;
    background-color: #224f97;
    margin-top:4vh; 
    border-radius:2vh;
    padding:2vh;
    padding-left:4vh;
    padding-right:4vh;
}

.text1{
    font-size:5vh;
    text-align: center;
    font-family: 'Athiti', sans-serif;
    color: whitesmoke;
}

.text2{
    font-size:3vh;
    text-align: center;
    font-family: 'Athiti', sans-serif;
    color: whitesmoke;
}

.textlabel{
    font-size: 3vh;
    text-align: left;
    font-family: 'Athiti', sans-serif;
    margin-left:  4.8vw;
    color: whitesmoke;

}

.form-control{
    width:30vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:4vh;
    border-radius:0.5vh;
    background-color:#224f97 ;
    border-style: solid;
    border-width: 0.1vh;
    font-size:1.5vh;
    color: whitesmoke;
    transition: 500ms;
}

.form-control:focus{
    width:30vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:4vh;
    border-radius:0.5vh;
    background-color: #002466;
    border-style: solid;
    border-width: 0.1vh;
    font-size:1.5vh;
    color: whitesmoke;
    transition: 250ms;
}

.form-control:hover{
    width:30vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:4vh;
    border-radius:0.5vh;
    background-color: #002466;
    border-style: solid;
    border-width: 0.1vh;
    font-size:1.5vh;
    color: whitesmoke;
    transition: 500ms;
}



::placeholder {
    color: whitesmoke;
    opacity: 1;
  }

.btn0{
    margin-top:3vh;
    width:30vw;
    margin-left:auto ;
    margin-right: auto;
    
}

.btn1{
    width:13vw;
    height:4vh;
    border-radius:0.5vh;
    background-color:#d814ce;
    font-size:1.5vh;
    float: left;
    color: whitesmoke;
    transition: 250ms;
}

.btn2{
    width:13vw;
    height:4vh;
    border-radius:0.5vh;
    background-color:whitesmoke;
    font-size:1.5vh;
    float: right;
    transition: 250ms;
    color: #d814ce;
}



.btn1:hover{
    width:13vw;
    height:4vh;
    border-radius:0.5vh;
    background-color:#002466;
    font-size:1.5vh;
    float: left;
    color: white;
    transition: 250ms;
}

.btn2:hover{
    width:13vw;
    height:4vh;
    border-radius:0.5vh;
    background-color:#002466;
    font-size:1.5vh;
    float: right;
    color: white;
    transition: 250ms;
}

.checkbox{
    width:30vw;
    height:2vh;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top:1vh;
}

.showpassword{
    display: inline;
    height: 2vh;
    width: auto;
    
}

.textshowpassword{
    display: inline;
    font-size:2vh;
    color: #002466;
}