*{
    margin:0;
    border:0;

}

body{
    background-color: blue;
}

.menu-bar {
  background-color: #1988f7;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
color: white;
background-color: transparent;
font-size: 18px;
display: inline-block;
box-sizing: border-box;
padding: 14px 20px;
}



.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  
}

.Logo{
  width:auto;
  height:5.2vh;
  
}

.mtext{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  
}

.group{
  display: inline-block;
  height:auto;
  display: block;
}